.footer {
  background-color: #222;
  color: white;
  padding: 3em;
  text-align: center;
}

.containerSocials {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.item {
  margin: 0 1em;
}

.item:hover {
    color: #ffbb33;
}

.item svg {
    font-size: 1.5em;
    cursor: pointer;
}
.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}